body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 18px; }

.bg-grey {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  z-index: -10;
  background-color: #eef3f6;
  border-radius: 0 0 0 55px; }

.heading {
  margin-top: 10%;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-areas: "A . B"; }
  @media only screen and (min-width: 768px) {
    .heading {
      margin-left: 39px;
      margin-top: 51px;
      display: grid;
      grid-template-columns: 30% 70%;
      grid-template-areas: "A B"; } }
  .heading .logo {
    grid-area: A;
    justify-self: center; }
    @media only screen and (min-width: 768px) {
      .heading .logo {
        justify-self: start; } }
  .heading .navbar {
    grid-area: B;
    justify-self: center; }
    @media only screen and (min-width: 768px) {
      .heading .navbar {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap; } }
    .heading .navbar .hamburger {
      align-self: center;
      position: absolute;
      top: 56px; }
      @media only screen and (min-width: 768px) {
        .heading .navbar .hamburger {
          display: none; } }
      .heading .navbar .hamburger .hamburger__line {
        position: relative;
        bottom: 23px;
        width: 30px;
        margin: 6px;
        height: 4px;
        background-color: #242942; }
    .heading .navbar #check {
      opacity: 0;
      position: relative;
      justify-self: center;
      cursor: pointer;
      top: 6px;
      left: 11px;
      z-index: 2; }
      .heading .navbar #check:checked ~ .list {
        display: block; }
      .heading .navbar #check:checked ~ .hamburger .hamburger__line--1 {
        transform: rotate(45deg);
        margin-top: 16px; }
      .heading .navbar #check:checked ~ .hamburger .hamburger__line--3 {
        transform: rotate(-45deg);
        margin-top: -9px; }
      .heading .navbar #check:checked ~ .hamburger .hamburger__line--2 {
        display: none; }
    .heading .navbar ul {
      list-style-type: none;
      padding: 0; }
      @media only screen and (min-width: 768px) {
        .heading .navbar ul {
          margin: 0;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          justify-content: space-between; } }
    .heading .navbar .list {
      display: none;
      position: absolute;
      right: 9%;
      top: 80px;
      width: 80%;
      font-size: 1rem;
      height: auto;
      letter-spacing: 2px;
      line-height: 29px;
      text-transform: uppercase;
      box-shadow: 0px 2px 5px #a0a1ac;
      background-color: white;
      text-align: center; }
      @media only screen and (min-width: 768px) {
        .heading .navbar .list {
          display: inline;
          width: 46vw;
          position: absolute;
          right: 0%;
          top: 43px;
          padding: 1rem;
          padding-bottom: 0;
          height: auto;
          box-shadow: none;
          background-color: transparent; } }
      .heading .navbar .list__item a {
        text-decoration: none;
        color: #242942;
        font-family: "Barlow Condensed";
        font-weight: bolder; }
        .heading .navbar .list__item a:hover {
          text-decoration: underline; }
      .heading .navbar .list__item--grey a {
        color: #a0a1ac; }
      .heading .navbar .list .list__item hr {
        width: 80%;
        height: 2px;
        border: none;
        background-color: #a0a1ac; }
        @media only screen and (min-width: 768px) {
          .heading .navbar .list .list__item hr {
            width: 6px;
            height: 6px;
            border-radius: 3px;
            margin-bottom: 0;
            margin-top: 13px; } }

/* section header*/
.section1 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /* section header image bg*/
  /* section header image bg*/ }
  @media only screen and (min-width: 768px) {
    .section1 {
      flex-direction: row-reverse; } }
  .section1__bg {
    margin-bottom: 32px;
    margin-top: 40px; }
    @media only screen and (min-width: 768px) {
      .section1__bg {
        margin-top: 90px; } }
    .section1__bg img {
      width: 138%; }
      @media only screen and (min-width: 768px) {
        .section1__bg img {
          width: 137%; } }
  .section1__text {
    width: 100%;
    margin-bottom: 2rem;
    padding: 1rem; }
    @media only screen and (min-width: 768px) {
      .section1__text {
        margin-top: 5rem; } }
    .section1__text--suptitle {
      font-family: 'Barlow Condensed';
      padding: 1rem;
      color: #a0a1ac;
      text-transform: uppercase;
      letter-spacing: 3px; }
      @media only screen and (min-width: 768px) {
        .section1__text--suptitle {
          font-size: 1.2rem; } }
      .section1__text--suptitle span {
        text-align: center;
        font-weight: bold;
        background-color: #242942;
        color: white;
        padding: .2rem .6rem;
        border-radius: 50px; }
        @media only screen and (min-width: 768px) {
          .section1__text--suptitle span {
            margin-top: 8rem; } }
    .section1__text--para {
      padding: 1rem;
      color: #5b5f71;
      font-size: 1rem;
      margin-right: 54px; }
      @media only screen and (min-width: 768px) {
        .section1__text--para {
          font-size: 1.2rem; } }
    .section1__text--subtitle {
      text-transform: uppercase;
      padding: 1rem;
      font-size: 1rem;
      color: #5b5f71;
      font-family: "Barlow Condensed";
      word-spacing: 3px; }
      @media only screen and (min-width: 768px) {
        .section1__text--subtitle {
          font-size: 1rem; } }
      .section1__text--subtitle input {
        letter-spacing: 1.5px;
        font-family: "Barlow Condensed";
        text-transform: uppercase;
        background-color: #ff5c5c;
        border: none;
        color: #eef3f6;
        padding: .7rem 1rem;
        border-radius: 5px; }
      .section1__text--subtitle span {
        padding: 0rem .7rem 0rem;
        color: #a0a1ac; }
    .section1__text--title {
      font-family: 'Barlow Condensed';
      padding: 1rem;
      color: #242942;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 40px; }
      @media only screen and (min-width: 768px) {
        .section1__text--title {
          font-size: 2.7rem;
          line-height: 60px; } }
